* {
    box-sizing: border-box;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 52px solid transparent;
    border-right: 49px solid transparent;
    border-bottom: 49px solid rgba(63, 59, 55, 0.86);
    position: absolute;
    top: 42px;
}

.wall {
    background-color: rgb(255, 0, 149);
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    top: 90px;
}

.horizont {
    width: 500px;
    height: 0px;
    border: 1px solid black;
    position: absolute;
    top: 188px;
}

.tree {
    position: absolute;
    top: 68px;
    width: 100px;
    height: 120px;
    left: 300px;
    border: 0px solid;
}

.tronco {
    position: absolute;
    top: 70px;
    width: 10px;
    height: 50px;
    left: 45px;
    background-color: rgb(125, 95, 4);
}

.cupula {
    position: absolute;
    background: rgb(20, 241, 8);
    border-radius: 60%;
    width: 80px;
    height: 80px;
    left: 12px;
    top: 1px;
}

.door {
    width: 30px;
    height: 50px;
    border: 1px solid rgb(5, 2, 0);
    background-color: rgb(109, 79, 18);
    position: absolute;
    top: 140px;
    left: 43px;
}

.window1 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(136, 148, 25);
    top: 100px;
    left: 20px;
    border: 1px dotted black;
}

.window2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(136, 148, 25);
    top: 100px;
    left: 65px;
    border: 1px dotted black;
}

.volley-pitch {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    top: 300px;
    display: flex;
    flex-direction: column;
    transform: rotateX(180deg);
}